@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --primary-color: #FC676B;
    --primary-font: 'Roboto', sans-serif;
}

.container--login {
    margin: 0 5%;
}

.col--login {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img--logo--login {
    width: 170px;
}

.row--login {
    display: flex;
    flex-direction: row;
}

.align-rigth {
    justify-content: flex-end;
}

.align-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.mx-05 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-6 {
    margin-top: 6rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.group--input--login {
    display: flex;
    flex-direction: column;
}

.w--100 {}